@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

 .noto-sans-kr {
     font-family: 'Noto Sans KR', sans-serif;
 }

 @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

 .black-han-sans {
     font-family: 'Black Han Sans', sans-serif;
 }

 @font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}