@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@font-face {
     font-family: 'JalnanGothic';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }

 .black-han-sans {
     font-family: 'Black Han Sans', sans-serif;
 }

 .jalnan-gothic {
     font-family: 'JalnanGothic', sans-serif;
 }