#footer {
    background-color: #191F28;
}

#footer__inner {
    /* Your existing styles for layout */
    @font-face {
        font-family: 'LINESeedKR-Bd';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: 'LINESeedKR';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
    }
}

.footer__content {
    text-align: left;
    padding: 80px 250px; /* Adjust as necessary */
    /* Additional styles as necessary */
}

.footer__company-name {
    font-weight: bold;
    margin: 0;
    padding-top: 20px; /* Adjust as necessary */
    font-size: 16px;
    font-family: 'LINESeedKR-Bd';
    color: #B0B8C1;
}

.footer__registration,
.footer__representative,
.footer__address {
    margin: 0;
    padding: 5px 0; /* Spacing between lines, adjust as necessary */
    font-family: 'LINESeedKR';
    font-size: 12px;
    color: #b0b8c18f;
}

/* You may want to add media queries if you need responsiveness */
