$primary-color: #ffffff; // 색상을 변수로 설정
$text-size: 28px; // 텍스트 크기를 변수로 설정

@font-face {
  font-family: 'JalnanGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#intro {
  font-family: 'JalnanGothic';
  min-height: 400px;
  position: relative;
  overflow: hidden;
}

.intro__image-container {
  position: relative;
  text-align: center;
  color: $primary-color;

  .intro__blur-image {
    filter: blur(20px);
    width: 100%;
    height: auto;
  }

  .intro__text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $primary-color;
    font-size: $text-size;

    // SCSS를 사용하여 여기에 추가 스타일을 중첩할 수 있음
  }
}
