@font-face {
     font-family: 'TheJamsil5Bold';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
     font-weight: 700;
     font-style: normal;
   }
   
   #product-price {
     font-family: 'TheJamsil5Bold';
     /* Consider removing overflow: auto; or apply it to specific elements */
   }

   #product-price .product-price-container {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     /* Adjust the height as needed */
     flex-direction: column;
     /* Consider adjusting this padding */
     padding-top: 150px;
   }

      /* Responsive table */
      @media screen and (max-width: 600px) {
          #product-price .product-price-table {
            width: 100%;
          }
        }
        

   // reference
   
   

   #product .title {
     padding-left: 50px;
     font-size: 50px;
     font-weight: 700;
   }
   
   #product .product-item {
     padding-left: 50px;
     padding-right: 100px;
     width: 100%;
   }
   
   #product .product-category {
     padding-left: 50px;
     padding-right: 10px;
     font-size: 50px;
     width: 300px;
     padding-bottom: 80px;
     background-color: #0d459fd5;
     border-radius: 20px; 
     color: white;
     padding: 10px 20px; 
     display: inline-block; 
     margin-bottom: 100px; 
     text-align: center;
   }
   
   #product .product-info {
     padding-bottom: 30px;
     border-bottom: 2px solid var(--black);
   }
   
   #product .product-name {
     margin: 0;
     padding: 0;
     white-space: nowrap;
   }
   
   #product .product-images {
     padding-bottom: 15px;
   }
   
   #product .product-title {
     padding-bottom: 15px;
   }
   
   #product .product-content {
     padding-bottom: 15px;
   }
   
   @media (max-width: 768px) {
     #product .product-name {
       font-size: 14px; /* Smaller font size on smaller screens */
     }
   }
   